/* Common nav styles*/
.navigation-wrapper {
    height: 80px;
    background-color: black;
    color: #cbcbcb;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    font-family: inherit;
    
}

/*Left-column Common Styles*/
.navigation-wrapper > .left-column > .logo {
    display: flex;
    align-items: left;
    width: 200px;
    padding-left: 10px;
}
.navigation-wrapper > .left-column > .logo img{
    width: 100%;
}

/*Center-column Common Styles*/
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    width: 560px;
    margin: 0 180px 0 100px;

}

.title-links > .title {
    color: #e2dc32;
}
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.links-wrapper  > .nav-link{
    margin-right: 10px;
}

.links-wrapper  > .nav-link  a {
   text-decoration: none;
   color: white;
   font-weight: 900;
   font-size: 1.4em;
}
.links-wrapper > .nav-link #spark{
    color: grey;
    font-size: 1.2em;
    margin-left: 20px;
}

/*Right-column Common Styles*/
.navigation-wrapper > .right-column {
    display: grid;
    grid-template-columns: 1fr;
    width: 550px;
   
}

.navigation-wrapper > .right-column > .nav-buttons-wrappers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-wrapper > .right-column > .nav-buttons-wrappers > .nav-button {
    color: gray;
    width: 100%;
    padding: 10px 20px;
}

.navigation-wrapper > .right-column > .nav-buttons-wrappers > .nav-button button {
    padding: 15px;
    width: 120px;
    color: white;
    font-weight: 500;
    background-color: #9693935f; 
    border: none;  
    border-radius: 5%;
    font-size: 1.2em;
    cursor: pointer;
}

.nav-buttons-wrappers > .nav-button > .btn-create > .fa-chevron-down{
    color: rgb(16, 203, 16);
}

.nav-buttons-wrappers > .nav-button > .fa-solid {
    font-size: 2em;
}